In [2]:
import openpyxl as px
import pandas as pd 
import numpy as np

original_excel = px.load_workbook('_Neoprávněná sídla_PŘEHLED_LOCAL.xlsx')

In [ ]:
# load original excel file into pandas dataframe
sheet = original_excel.active
data = sheet.values
cols = next(data)[0:]
data = list(data)
df = pd.DataFrame(data, columns=cols)
df.head(30)

In [10]:
#drop rows 0-5
df_modified = df.drop([0,1,2,3,4,5])
df_modified
# set row 6 as column names
df_modified.columns = df_modified.iloc[0]
df_modified = df_modified.drop([6])
df_modified

6,Budova,IČO,Název,adresa,None,Poznámka,Souhlas,NaN,Byl zaslán dopis?,None,...,None,None,None,None,None,None,None,None,None,None
7,A,25672720,"MONETA Money Bank, a.s.","Praha 4, Michle, Vyskočilova 1442/1b",,None,smlouva,1.0,None,None,...,None,None,None,None,None,None,None,None,None,None
8,A,47115289,"MONETA Stavební Spořitelna, a.s.","Praha 4, Michle, Vyskočilova 1442/1b",,Vystaven na Wüstenrot (stejne IČO),"=HYPERLINK(CONCATENATE(""fotky/DSC_"", TEXT(F10,...",3.0,None,None,...,None,None,None,None,None,None,None,None,None,None
9,A,60112743,"MONETA Auto, s.r.o.","Praha 4, Michle, Vyskočilova 1442/1b",,None,"=HYPERLINK(CONCATENATE(""fotky/DSC_"", TEXT(F11,...",3.0,None,None,...,None,None,None,None,None,None,None,None,None,None
10,A,60751606,"MONETA Leasing, s.r.o.","Praha 4, Michle, Vyskočilova 1442/1b",,None,"=HYPERLINK(CONCATENATE(""fotky/DSC_"", TEXT(F12,...",3.0,None,None,...,None,None,None,None,None,None,None,None,None,None
11,A,10730443,Nadace MONETA Clementia,"Praha 4, Michle, Vyskočilova 1442/1b",,None,"=HYPERLINK(CONCATENATE(""fotky/DSC_"", TEXT(F13,...",3.0,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Villas,None,DFG Hotel Management Praha,"Praha 4, Michle, Želetavská 1449/9",None,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
205,D,01051717,MUDr. Monika Vondráková\t,"Jemnická 1138/1, Michle, 14000 Praha 4",None,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
206,D,10988157,"FBF Czech, s.r.o.","Jemnická 1138/1, Michle, 14000 Praha 4",None,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
207,Filadelfie,\t03623068,Půdy Libeň s.r.o.,Želetavská 1525/1,None,None,zde,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
208,Gamma,027 38 252,Nej Kanál s.r.o.,Za Brumlovkou 266/2,None,None,zde,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None

In [11]:
# keep columns Budova	IČO	Název	adresa
df_modified = df_modified[['Budova', 'IČO', 'Název', 'adresa']]
df_modified

6,Budova,IČO,Název,adresa
7,A,25672720,"MONETA Money Bank, a.s.","Praha 4, Michle, Vyskočilova 1442/1b"
8,A,47115289,"MONETA Stavební Spořitelna, a.s.","Praha 4, Michle, Vyskočilova 1442/1b"
9,A,60112743,"MONETA Auto, s.r.o.","Praha 4, Michle, Vyskočilova 1442/1b"
10,A,60751606,"MONETA Leasing, s.r.o.","Praha 4, Michle, Vyskočilova 1442/1b"
11,A,10730443,Nadace MONETA Clementia,"Praha 4, Michle, Vyskočilova 1442/1b"
...,...,...,...,...
204,Villas,None,DFG Hotel Management Praha,"Praha 4, Michle, Želetavská 1449/9"
205,D,01051717,MUDr. Monika Vondráková\t,"Jemnická 1138/1, Michle, 14000 Praha 4"
206,D,10988157,"FBF Czech, s.r.o.","Jemnická 1138/1, Michle, 14000 Praha 4"
207,Filadelfie,\t03623068,Půdy Libeň s.r.o.,Želetavská 1525/1
208,Gamma,027 38 252,Nej Kanál s.r.o.,Za Brumlovkou 266/2

In [14]:
original_excel = px.load_workbook('_Neoprávněná sídla_PŘEHLED_LOCAL.xlsx')
sheet = original_excel.active
data = sheet.values
cols = next(data)[0:]
data = list(data)
df = pd.DataFrame(data, columns=cols)
df_modified = df.drop([0,1,2,3,4,5])
df_modified
# set row 6 as column names
df_modified.columns = df_modified.iloc[0]
df_modified = df_modified.drop([6])
df_modified = df_modified[['Budova', 'IČO', 'Název', 'adresa']]

In [15]:
df_modified

6,Budova,IČO,Název,adresa
7,A,25672720,"MONETA Money Bank, a.s.","Praha 4, Michle, Vyskočilova 1442/1b"
8,A,47115289,"MONETA Stavební Spořitelna, a.s.","Praha 4, Michle, Vyskočilova 1442/1b"
9,A,60112743,"MONETA Auto, s.r.o.","Praha 4, Michle, Vyskočilova 1442/1b"
10,A,60751606,"MONETA Leasing, s.r.o.","Praha 4, Michle, Vyskočilova 1442/1b"
11,A,10730443,Nadace MONETA Clementia,"Praha 4, Michle, Vyskočilova 1442/1b"
...,...,...,...,...
204,Villas,None,DFG Hotel Management Praha,"Praha 4, Michle, Želetavská 1449/9"
205,D,01051717,MUDr. Monika Vondráková\t,"Jemnická 1138/1, Michle, 14000 Praha 4"
206,D,10988157,"FBF Czech, s.r.o.","Jemnická 1138/1, Michle, 14000 Praha 4"
207,Filadelfie,\t03623068,Půdy Libeň s.r.o.,Želetavská 1525/1
208,Gamma,027 38 252,Nej Kanál s.r.o.,Za Brumlovkou 266/2